<h1>To-Do Lists</h1>

<% @lists.each do |list| %>
  <h2><%= list.title %> <%= link_to "Delete", list, :confirm => "Are you sure?", :method => :delete %></h2>
  <ul>
    <% list.tasks.each do |task| %>
      <li><%= task.name %> <%= link_to "Delete", task, :confirm => "Are you sure?", :method => :delete %></li>
    <% end %>
  </ul>
  <%= form_for [list, @task] do |f| %>
    <%= f.label :name, "Enter Task:" %>
    <%= f.text_field :name %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>
<br>
<hr>
<h1>Add List</h1>
<%= form_for @list do |f| %>
  <%= f.label :title, "Enter List Name:" %>
  <%= f.text_field :title %>
  <%= f.submit "Submit" %>
<% end %>